html{
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    background-color: #7fffd4;
    color: #830094;
	font-family: 'Bree Serif', serif;
}
.main-navigation{
    list-style: none;
    margin: 1%;
    padding: 1%;
}
.main-navigation li{
    display: inline-block;
    padding: 1%;
    border: 1%;
    border-style: ridge;
    min-width: 70px;
    text-align: center;
}
h1,h2{
    font-family: 'DM Serif Display', serif;
    font-kerning: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: #B33600;
}
h1{
    font-size: 3rem;
}
figure{
    margin: 10px 10px 10px 0;
    float: left;
    max-width: 100%;
    height: auto;
}
figcaption{
    font-size: small;
    margin: 0 auto;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 2%;
}
img {
    width: 100%;
    height: auto;
}
table {
    border-collapse:collapse;
}
th {text-align:left;
    padding:0.5rem;
}
td {
    border-top:1px solid #eee;
    padding: 0.5rem;
} 
